html {
    height: 100%;
}

body {
    height: inherit;
    display: flex;
    flex-direction: column;
}


#loading-bar .bar {
    height: 7px !important;
    background-color: #e5a00d !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #e5a00d !important;
    border-left-color: #e5a00d !important;
    height: 50px !important;
    width: 50px !important;
}
